__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.cf/
service_account.json
.pytest_cache/
.ex/
node_modules/
.svelte-kit/
build/
.env.local
.env.*.local
*.log
package-lock.json
.dockerignore
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
.vscode/
.idea/
.DS_Store
Thumbs.db
.npmrc
firebase.json
assets/
config.js
commit_msg.txt
app.html